1. Write a program to reverse a string

In [3]:
def reverse_string(s):
    return s[::-1]
s  = input("enter the string: ")
print(reverse_string(s))

varuaS

2. Check if a string is a palindrome.

In [4]:
def is_palindrome(s):
    return s == s[::-1]
s = input("enter the string: ")
print(is_palindrome(s))

True

3. Convert a string to uppercase.

In [5]:
def str_upper(s):
    return s.upper()
s = 'pw skills'
print(str_upper(s))

PW SKILLS

4. Convert a string to lowercase.

In [6]:
def str_lower(s):
    return s.lower()
s = "PW SKILLS"
print(str_lower(s))

pw skills

5. Count the number of vowels in a string

In [11]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    vowel_count = 0
    for char in s:
        if char in vowels:
            vowel_count += 1
    return vowel_count
s = 'intelligent student'
print(count_vowels(s))

6

6. Count the number of consonants in a string.

In [15]:
def count_consonants(s):
    consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
    consonant_count = 0
    for char in s:
        if char in consonants:
            consonant_count += 1
    return consonant_count
s = 'this is my first jupiter notebook on vs code'
print('final count is: ',count_consonants(s))

final count is:  23

7. Remove all whitespaces from a string

In [21]:
def removed_whitespaces(s):
    return ''.join(s.split(' '))
s = 'this is  saurav kumar'
print('after removing whitespaces,string is:',removed_whitespaces(s))

after removing whitespaces,string is: thisissauravkumar

8. Find the length of a string without using the `len()` function

In [26]:
def str_length(s):
    count = 0
    for char in s:
            count += 1
    return count
s = 'pwskills'
print("length of string: ",str_length(s))

length of string:  8

9. Check if a string contains a specific word

In [29]:
def is_str_contains_swords():
    s_word = 'self'
    if s_word in s:
        return True
    else:
        return False
s ='this is self service'
print("this string contains specific word: ",is_str_contains_swords())

this string contains specific word:  True

10. Replace a word in a string with another word.

In [30]:
def replace_words():
    return s.replace(old_words, new_words)
old_words = input("enter the words to remove:")
new_words = input("enter the words to replace with:")
s = 'I am experienced python developer'
print(replace_words())

I am new python developer

11. Count the occurrences of a word in a string.

In [36]:
def count_occurrences_word(s):
    words = s.split()  
    word_count = {}    
    
    for w in words:
        if w in word_count:
            word_count[w] += 1
        else:
            word_count[w] = 1
    
    return word_count
s = 'this is saurav kumar gautam'
print(count_occurrences_word(s))

{'this': 1, 'is': 1, 'saurav': 1, 'kumar': 1, 'gautam': 1}

12. Find the first occurrence of a word in a string.

In [37]:
def first_occurence_word():
    l = s.split()
    return l[0]
s = 'this is my first python class'
print('first occurence of word is ',first_occurence_word())

first occurence of word is  this

13. Find the last occurrence of a word in a string

In [39]:
def last_occurence_word():
    l = s.split()
    return l[-1]
s = 'this is my first python class'
print('last occurence word is',last_occurence_word())

last occurence word is class

14. Split a string into a list of words.

In [41]:
def str_to_list(s):
    return s.split()
s = "Nikita is an intelligent girl"
print(str_to_list(s))

['Nikita', 'is', 'an', 'intelligent', 'girl']

15. Join a list of words into a string.

In [43]:
def lst_to_string():
    return ' '.join(l)
l = ['Nikita', 'is', 'an', 'intelligent', 'girl']
print(lst_to_string())

Nikita is an intelligent girl

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [44]:
def word_sep_underscore():
    return s.replace(' ', '_')
s = 'this is my first python class'
print(word_sep_underscore())

this_is_my_first_python_class

17. Check if a string starts with a specific word or phrase.

In [3]:
def is_str_start_with_s_word():
    return s.startswith((w))
w = input("enter word: ")
s = "intelligent"
print(is_str_start_with_s_word())

False

18. Check if a string ends with a specific word or phrase

In [56]:
def is_end_with_s_wword():
    return s.endswith(w)
w = input("enter word")
s = 'nikita has good knowledge about coding'
print(is_end_with_s_wword())

True

19. Convert a string to title case (e.g., "hello world" to "Hello World)

In [57]:
def titled_str():
    return s.title()
s = "hello world"
print('a string to title case is: ',titled_str())

a string to title case is:  Hello World

20. Find the longest word in a string

In [66]:
def longest_str_word():
    longest_word = ""
    for char in (s.split(' ')):
        if len(char) > len(longest_word):
            longest_word = char
    return longest_word
s = 'I am not intelligent student'
print(longest_str_word())

intelligent

21. Find the shortest word in a string

In [76]:
def shortest_str_word():
    shortest_word = l[0]
    for char in s.split(' '):
        if len(char) < len(shortest_word):
            shortest_word = char
    return shortest_word
s = 'this is not what i wanted to be'
print('shortest word in string is: ',shortest_str_word())

shortest word in string is:  i

22. Reverse the order of words in a string.

In [78]:
def reverse_str_word_order():
    words = s.split()
    reversed_words =words[::-1]
    reversed_str =' '.join(reversed_words)
    return reversed_str

s ='this is my first class of python'
print(reverse_str_word_order())

python of class first my is this

23. Check if a string is alphanumeric.

In [84]:
def is_str_alphanum():
    return s.isalnum()
s = 'sau8986rav'
print(is_str_alphanum())

True

24. Extract all digits from a string.

In [86]:
def extract_digit_from_str():
    digits = []
    for i in s:
        if i.isdigit():
            digits.append(i)
    return digits
s = 'sau8986rav'
print(extract_digit_from_str())

['8', '9', '8', '6']

25. Extract all alphabets from a string.

In [100]:
def extract_alpha_from_str():
    alpha =[]
    for char in s:
        if char.isalpha():
            alpha.append(char)
    return alpha
s = "Sau8986rav"
print(extract_alpha_from_str())

['S', 'a', 'u', 'r', 'a', 'v']

26. Count the number of uppercase letters in a string

In [89]:
def count_str_uppercase_letter():
    uppercase_letter_count = 0
    for char in s:
        if char.isupper():
            uppercase_letter_count += 1
    return uppercase_letter_count
s = 'This is my First Python Class'
print(count_str_uppercase_letter())

4

27. Count the number of lowercase letters in a string

In [90]:
def count_str_lowercase_letter():
    lowercase_letter_count = 0
    for char in s:
        if char.islower():
            lowercase_letter_count += 1
    return lowercase_letter_count
s = 'this is saurav'
print(count_str_lowercase_letter())

12

28. Swap the case of each character in a string.

In [94]:
def swap_str_char():
    return s.swapcase()
s = 'This is Saurav Kumar Gautam'
print(swap_str_char())

tHIS IS sAURAV kUMAR gAUTAM

In [98]:
# def swap_str_char(s):
#     swapped_chars = []
#     for char in s:
#         if char.isupper():
#             swapped_chars.append(char.lower())
#         else:
#             swapped_chars.append(char.upper())
#     return ''.join(swapped_chars)
# s = 'This is Saurav Kumar Gautam'
# print(swap_str_char(s))

tHIS IS sAURAV kUMAR gAUTAM

29. Remove a specific word from a string.

In [148]:
def remove_specific_word(input_Str):
    words = input_Str.split(' ')
    removed_words = []
    for char in words:
        if not char.startswith('n'):
            removed_words.append(char)
    return ' '.join(removed_words)
input_Str = 'this is neither me nor you'
print(remove_specific_word(input_Str))

this is me you

30. Check if a string is a valid email address.

In [129]:
def is_valid_email(email):
    parts = email.split('@')
    if len(parts) != 2:
        return False  
    local_part, domain_part = parts

    if len(email) < 6 or len(email) > 254:
        return False 
    if not ((local_part[0].isalpha() and local_part.isalnum())
             or '-' in local_part or '_'in local_part):
        return False
    
    if domain_part.count('.') != 1:
        return False
    domain, tld = domain_part.split('.')
    if not (domain.isalnum() and tld.isalnum()):
        return False
    if not (2 <= len(tld) <= 6):
        return False
    return True
email1 = 'sauravgautam2419@gmail.com'
email2 = 'invalid-email'
email3 = 'john.doe@mic.in'

print(f"{email1}: {is_valid_email(email1)}") 
print(f"{email2}: {is_valid_email(email2)}") 
print(f"{email3}: {is_valid_email(email3)}")

sauravgautam2419@gmail.com: True
invalid-email: False
john.doe@mic.in: False

31. Extract the username from an email address string.

In [133]:
def extract_username_from_email():
    words= s.split('@')
    user_name = words[0][0:9]
    return user_name
s = "sauravgautam2419@gmail.com"
print(extract_username_from_email())

sauravgau

32. Extract the domain name from an email address string.

In [134]:
def extract_domain_name_from_email():
    words = s.split('@')
    domain_name = words[-1]
    return domain_name
s = 'sauravgautam@gmail.com'
print(extract_domain_name_from_email())

gmail.com

In [138]:
def extract_email_username(input_str):
   word = []
   for char in input_str:

    if char.isdigit():
        break
    word.append(char)
   return '' .join(word)
input_str ='sauravgautam2419@gmail.com'
print(extract_email_username(input_str))

sauravgautam

33. Replace multiple spaces in a string with a single space.

In [144]:
def replace_multiple_spaces_with_single_spaces():
    words = []
    for char in s.split():
        if char.isspace():
            continue
        words.append(char)
    return ' '.join(words)
s = 'my    name    is   saurav   kumar'
print(replace_multiple_spaces_with_single_spaces())

my name is saurav kumar

34. Check if a string is a valid URL.

In [190]:
def is_valid_url(url):
  
    valid_schemes = ['http://', 'https://', 'ftp://']
    valid_scheme = False

    for scheme in valid_schemes:
        if url.startswith(scheme):
            valid_scheme = True
            break
        else:
            valid_scheme = False
    has_dot = False
    for char in url:
        if char == '.':
            has_dot= True
            break
    if not has_dot:
        return False
        

    return True
     
url = 'https://google.com/'
print(is_valid_url(url))

True

35. Extract the protocol (http or https) from a URL string

In [196]:
def extract_str_protocol(url):
    protocol = []
    for char in url.split(':'):
        if char == 'http' or char == 'https' or char == 'ftp':
            protocol.append(char)
            break
    return protocol
url = 'https://google.com'
print(extract_str_protocol(url))

['https']

36. Find the frequency of each character in a string.

In [198]:
def freq_str_char():
    freq ={}
    for char in s:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq
s = 'intelligent'
print(freq_str_char())

{'i': 2, 'n': 2, 't': 2, 'e': 2, 'l': 2, 'g': 1}

37. Remove all punctuation from a string

In [200]:
import string
def remove_str_punctuation():
    punctuation_char = string.punctuation
    new_str = ''
    for char in s:
        if char not in punctuation_char:
            new_str += char
    return new_str
s = 'Hello, World!, this is new india.'
print(remove_str_punctuation())

Hello World this is new india

38. Check if a string contains only digits.

In [203]:
def does_contain_digit():
    return s.isdigit()
s = '123456'
print(does_contain_digit())

True

39. Check if a string contains only alphabets.

In [205]:
def does_contain_alpha_only():
    return s.isalpha()
s = 'saurav'
print(does_contain_alpha_only())

True

40. Convert a string to a list of characters.

In [208]:
def convert_str_to_lst():
    return list(s)
s ='intelligent'
print(convert_str_to_lst())

['i', 'n', 't', 'e', 'l', 'l', 'i', 'g', 'e', 'n', 't']

41. Check if two strings are anagrams

In [214]:
def is_string_anagram(s1, s2):
    s1 = s1.replace(" ", "").lower()
    s2 = s2.replace(" ", "").lower()

    if len(s1) != len(s2):
        return False
    
    return sorted(s1) == sorted(s2)

s1 = 'listen'
s2 = 'silent'
print(is_string_anagram(s1, s2)) 

s3 = 'hello'
s4 = 'world'
print(is_string_anagram(s3, s4))

True
False

42. Encode a string using a Caesar cipher.

In [225]:
alphabet ='abcdefghijklmnopqrstuvwxyz'
alpha_lst = list(alphabet)
p ='saurav'
shift_key = eval(input("enter key: "))
def encode_str(p,shift_key):
    cipher_text =""
    for char in p:
         index = alpha_lst.index(char)
         new_index = index + shift_key
         cipher_text += alpha_lst[new_index]
    return cipher_text
print('encrypted sting is:',encode_str(p,shift_key))

encrypted sting is: vdxudy

43. Decode a Caesar cipher encoded string.

In [227]:
alphabet ='abcdefghijklmnopqrstuvwxyz'
alpha_lst = list(alphabet)
c = 'vdxudy'
shift_key = eval(input("enter key: "))
def decode_encode_str(c,shift_key):
    plain_text =""
    for char in c:
         index = alpha_lst.index(char)
         new_index = index - shift_key
         plain_text += alpha_lst[new_index]
    return plain_text
print('decrypted sting is:',decode_encode_str(c,shift_key))

decrypted sting is: saurav

44. Find the most frequent word in a string.

In [220]:
def most_freq_str_word():
    words = s.split(' ')
    freq = {}
    for word in words:
        if word in freq:
            freq[word]+= 1
        else:
            freq[word] = 1
    max_word = ''
    max_count = 0
    for word, count in freq.items():
        if count > max_count:
            max_word = word
            max_count = count
    
    return max_word, max_count
s = 'my name is saurav kumar and saurabh kumar'
print(most_freq_str_word())

('kumar', 2)

45. Find all unique words in a string.

In [223]:
def unique_str_word():
    words = s.split()
    unique_words = set(words)
    return unique_words
s = 'this is not a problem you are a problem'
print(unique_str_word())

{'this', 'a', 'problem', 'are', 'you', 'not', 'is'}

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [252]:
s = "Sau8@986rav"
def does_contain_special_char(s):
    for char in s:
        if not char.isalnum():
           return True
        else:
            if char == '.':
                return False
    return False
print(does_contain_special_char(s))

False

48. Remove the nth word from a string.

In [259]:
def remove_str_nth_word(s,n):
    lst = list(s)
    if n>= 1 and n<= len(lst):
        removed_words = lst.pop(n-1)
        modified_str = ''.join(lst)
        return modified_str,removed_words
    else:
        return None
s = 'saurav'
n = eval(input('enter n_value'))
print(remove_str_nth_word(s,n))

('sarav', 'u')

49. Insert a word at the nth position in a string.

In [266]:
def insert_word_in_str_at_nth_index(s, v, n):
    lst = list(s)
    if n >= 1 and n <= len(lst):
        lst.insert(n-1, v) 
        modified_str = ''.join(lst)
        return modified_str
    else:
        return "Invalid index n"
s = 'saurav'
v = input('enter the value to insert:')
n = eval(input('enter the index to insert at:'))
print(insert_word_in_str_at_nth_index(s, v, n))

sau@8986rav

50. Convert a CSV string to a list of lists.

In [270]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
s = csv_data.split("\n")
for line in s:
    print(line)

Name, Age, Country
John, 25, USA
Alice, 30, Canada
Bob, 22, UK

In [272]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
result =[]
def csv_str_to_lst():
    lines = csv_data.split("\n")
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
print(csv_str_to_lst())

[['Name', ' Age', ' Country'], ['John', ' 25', ' USA'], ['Alice', ' 30', ' Canada'], ['Bob', ' 22', ' UK']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [274]:
l = list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [277]:
def length_of_lst(lst):
    length_count = 0
    for element in lst:
        length_count+=1
    return length_count
lst = [1,2,"saurav",3.45]
print('length of list without using len() function:',length_of_lst(lst))

length of list without using len() function: 4

3. Append an element to the end of a list.

In [281]:
def append_elem_to_list(lst,n):
    lst.append(n)
    return lst
lst = [1,2,"saurav",3.45]
n = eval(input('enter the value:'))
print(append_elem_to_list(lst,n))

[1, 2, 'saurav', 3.45, (3+6j)]

4. Insert an element at a specific index in a list

In [284]:
def inset_elem_in_list(lst,n,v):
    lst.insert(n,v)
    return lst
lst = [1, 2, 'saurav', 3.45, (3+6j)]
n = eval(input('enter the index number to insert:'))
v = (eval(input('enter the value to insert:')))
print(inset_elem_in_list(lst,n,v))

[1, 2, 'saurav', (1, 2, 3, 4), 3.45, (3+6j)]

5. Remove an element from a list by its value

In [293]:
def remove_lst_element_by_itsvalue(lst,v):
    lst.remove(v)
    return lst
lst =[1, 2, 'saurav', (1, 2, 3, 4), 3.45, (3+6j)]
v = eval(input('enter the value to remove:'))
print('remove element from list by its value is:', remove_lst_element_by_itsvalue(lst,v),v)

remove element from list by its value is: [1, 2, 'saurav', 3.45, (3+6j)] (1, 2, 3, 4)

6. Remove an element from a list by its index.

In [295]:
def remove_lst_element_by_its_index(lst,n):
    return lst.pop(n)
lst =[1, 2, 'saurav', (1, 2, 3, 4), 3.45, (3+6j)]
n = eval(input('enter the index of element to remove:'))
print(remove_lst_element_by_its_index(lst,n),lst)

(1, 2, 3, 4) [1, 2, 'saurav', 3.45, (3+6j)]

7. Check if an element exists in a list

In [299]:
def does_element_exist_in_lst(lst,n):
    for i in lst:
        if n in lst:
            message ='True'
        else:
            message ='False'
    return message
lst =[1, 2, 'saurav', 3.45, (3+6j)]
n = eval(input('enter the element:'))
print(does_element_exist_in_lst(lst,n))

True

8. Find the index of the first occurrence of an element in a list.

In [302]:
def index_of_first_occurrence_element_in_lst(lst,n):
    return lst.index(n)
    
lst =[1, 2, 'saurav', 3.45, (3+6j),2]
n = eval(input('enter the element to find the first occurence of element:'))
print('index of first occurence of element is ',index_of_first_occurrence_element_in_lst(lst,n))

index of first occurence of element is  1

9. Count the occurrences of an element in a list.

In [306]:
def count_occurrences_element_in_lst(lst,n):
    count_occurrences_element = 0
    for i in lst:
        if i == n:
             count_occurrences_element += 1
    return count_occurrences_element 
lst =[1, 2, 'saurav', 3.45, (3+6j),2]
n = eval(input('enter the element to count the occurences in list:'))
print(count_occurrences_element_in_lst(lst,n))

2

10. Reverse the order of elements in a list.

In [308]:
# def reverse_lst_element_order():
#     lst.sort(reverse = True)
#     return lst
# lst =[1,2,3,4,5,6,7,8,9,10,11,12]
# print('reverse order of element in a list is',reverse_lst_element_order())

reverse order of element in a list is [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [309]:
def reverse_lst_element_order():
    lst.reverse()
    return lst
lst =[1, 2, 'saurav', 3.45, (3+6j),2]
print('reverse order of element in a list is',reverse_lst_element_order())

reverse order of element in a list is [2, (3+6j), 3.45, 'saurav', 2, 1]

11. Sort a list in ascending order.

In [310]:
lst = [20,10,5,15,30]
def sort_list_in_ascending_order(lst):
    lst.sort()
    return lst
print('list in ascending order is',sort_list_in_ascending_order(lst))

list in ascending order is [5, 10, 15, 20, 30]

12. Sort a list in descending order

In [311]:
lst = [20,10,5,15,30]
def sort_list_in_descending_order(lst):
    lst.sort(reverse = True)
    return lst
print('list in descending order is',sort_list_in_descending_order(lst))

list in descending order is [30, 20, 15, 10, 5]

13. Create a list of even numbers from 1 to 20.

In [313]:
def even_number_lst():
    lst=[]
    for i in range(1,21):
        if i%2 == 0:
         lst.append(i)
    return lst
print('list of even number is',even_number_lst())

list of even number is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [315]:
def odd_number_lst():
    lst =[]
    for i in range(1,21):
        if i%2 != 0:
            lst.append(i)
    return lst
print('list of odd number is', odd_number_lst())

list of odd number is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [316]:
lst = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
def sum_of_all_lst_elements(lst):
    return sum(lst)
print('the sum of all element in a list is:',sum_of_all_lst_elements(lst))

the sum of all element in a list is: 100

16. Find the maximum value in a list.

In [320]:
lst = [1,3,5,7,9,11,13,15,17,19]
def max_value_in_lst(lst):
    max_value = 0
    for i in lst:
     if i == max(lst):
        max_value += i
    return max_value  
print('maximum value in list is:',max_value_in_lst(lst))

maximum value in list is: 19

17. Find the minimum value in a list.

In [321]:
lst = [1,3,5,7,9,11,13,15,17,19]
def min_value_in_lst(lst):
    min_value = 0
    for i in lst:
     if i == min(lst):
        min_value += i
    return min_value  
print('minimum value in list is:',min_value_in_lst(lst))

minimum value in list is: 1

18. Create a list of squares of numbers from 1 to 10.

In [322]:
def lst_of_square_numbers():
    square_lst = []
    for i in range(1,11):
        square_lst.append(i**2)
    return square_lst
print('list of square number is', lst_of_square_numbers())

list of square number is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [323]:
import random
random_integers = [random.randint(1,100)for _ in range(10)]
print('list of random numbes is:',random_integers)

list of random numbes is: [65, 4, 61, 7, 1, 37, 65, 92, 54, 73]

20. Remove duplicates from a list.

In [329]:
lst = [2, (3+6j), 3.45, 'saurav', 2, 1]
def remove_duplicates_from_lst(lst):
    modified_lst = []
    for i in lst:
        if lst.count(i) >= 2:
            lst.remove(i)
            modified_lst.append(i)
    return str(modified_lst),lst
print(remove_duplicates_from_lst(lst))

('[2]', [(3+6j), 3.45, 'saurav', 2, 1])

21. Find the common elements between two lists.

In [330]:
l1 = [1,2,3,4,'saurav']
l2 = [1,2,5,6,'saurav']
modified_lst = []
def common_elements_between_lists():
    for i in l1:
        if i in l2:
            modified_lst.append(i)
    return modified_lst
print('common elements between lists are:',
      common_elements_between_lists())

common elements between lists are: [1, 2, 'saurav']

22. Find the difference between two lists.

In [331]:
l1 = [1,2,3,4,'saurav']
l2 = [1,2,5,6,'saurav']
def difference_between_two_lists():
    modified_lst = []
    for i in l1:
        if not i in l2:
            modified_lst.append(i)
    return modified_lst
print('difference between two lists:',difference_between_two_lists())

difference between two lists: [3, 4]

23. Merge two lists.

In [332]:
l1 = [1,2,3,4,'saurav']
l2 = [1,2,5,6,'saurav']
def merge_two_lst():
    return l1 + l2
print('merge two list',merge_two_lst())

merge two list [1, 2, 3, 4, 'saurav', 1, 2, 5, 6, 'saurav']

24. Multiply all elements in a list by 2.

In [333]:
lst = [1,2,3,4,'saurav']
def multiply_lst_elements_by_2(lst):
    modified_lst = []
    for i in lst:
        modified_lst.append(i*2)
    return lst,modified_lst
print(multiply_lst_elements_by_2(lst))

([1, 2, 3, 4, 'saurav'], [2, 4, 6, 8, 'sauravsaurav'])

25. Filter out all even numbers from a list.

In [102]:
def filter_out_lst_even_numbers():
    lst = []
    for i in list(range(1,11)):
        if i%2 != 0:
            lst.append(i)
    return lst
lst1 = list(range(1,11))
result = filter_out_lst_even_numbers()
print(f'after filtering out of all even number of list {lst1} is {result}')

after filtering out of all even number of list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is [1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [341]:
lst = ['1','2','3','4','5']
def convert_str_list_to_int_list(lst):
    modified_lst=[]
    for i in lst:
        modified_lst.append(int(i))
    return modified_lst
result = convert_str_list_to_int_list(lst)
print(f'converted list of string {lst} into integer is:',result)

converted list of string ['1', '2', '3', '4', '5'] into integer is: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [342]:
lst = [1,2,3,4,5]
def convert_int_list_to_str_list(lst):
    modified_lst=[]
    for i in lst:
        modified_lst.append(str(i))
    return modified_lst
result = convert_int_list_to_str_list(lst)
print(f'converted list of integer {lst} into string is:',result)

converted list of integer [1, 2, 3, 4, 5] into string is: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [344]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_nested_list(nested_list):
    modified_lst = []
    for i in nested_list:
        modified_lst.extend(i)
    return modified_lst
result = flatten_nested_list(nested_list)
print(f'flatten a nested list {nested_list} is {result}')

flatten a nested list [[1, 2, 3], [4, 5], [6, 7, 8, 9]] is [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [363]:
num = 10 
n1, n2 = 1, 1  
fibonacci_sequence = [n1, n2]  

for _ in range(2, num):
    n3 = n1 + n2
    fibonacci_sequence.append(n3) 
    n1, n2 = n2, n3

print("Fibonacci Series:", fibonacci_sequence)

Fibonacci Series: [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [371]:
lst=[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
def is_lst_sorted(lst):
    sorted_lst = sorted(lst)
    if lst ==sorted_lst:
        return True
    else:
        return False
print(is_lst_sorted(lst))

True

31. Rotate a list to the left by `n` positions.

In [374]:
def rotate_lst_left(lst,n):
    n = n%len(lst)
    rotated = lst[n:]+lst[:n]
    return rotated
n = 3
lst = [1,2,3,4,'saurav','python']
rotated_list = rotate_lst_left(lst,n)
print('after rotating list to the left is:',rotated_list)

after rotating list to the left is: [4, 'saurav', 'python', 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [375]:
def rotate_lst_right(lst,n):
    n = n%len(lst)
    rotated =lst[-n:]+lst[:-n]
    return rotated
n = eval(input("enter the number to rotate:"))
lst = [1,2,3,4,'saurav','python']
rotated_list =  rotate_lst_right(lst,n)
print('after rotating list to the right is:',rotated_list)

after rotating list to the right is: ['saurav', 'python', 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [394]:
def prime_number_lst_upto_50():
    prime_num_lst = []
    for num in range(2, 51):  
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_num_lst.append(num)
    return prime_num_lst

print('List of prime numbers up to 50 is:', prime_number_lst_upto_50())

List of prime numbers up to 50 is: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [398]:
lst = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
def split_lst_into_chunks(lst,n):
    chunked_lst = []
    for i in range(0,len(lst),n):
        chunked_lst.append(lst[i:i+n])
    return chunked_lst
n = eval(input('enter the number:'))
print(split_lst_into_chunks(lst,n))

[[2, 3, 5], [7, 11, 13], [17, 19, 23], [29, 31, 37], [41, 43, 47]]

35. Find the second largest number in a list.

In [400]:
lst = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
def second_largest_num_in_lst(lst):
    sorted_lst = sorted(lst)
    return sorted_lst[-2]
print(second_largest_num_in_lst(lst))

43

36. Replace every element in a list with its square.

In [403]:
def replace_element_in_list_with_its_square():
    square_lst = []
    for i in lst:
        j = i**2
        square_lst.append(j)
    return square_lst
lst = [1,2,3,4,5]
print(replace_element_in_list_with_its_square())

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [405]:
lst = [1,2,3,4,5]
def convert_lst_into_dict():
    dictionary = {}
    for i in lst:
        indices = lst.index(i)
        dictionary[i] = indices
    return dictionary
print(convert_lst_into_dict())

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

38. Shuffle the elements of a list randomly.

In [407]:
import random
def shuffle_lst_element_randomly(lst):
    shuffle_lst_element_randomly = random.shuffle(lst)
    return lst
lst = [1,'saurav',2,3,'python']
print(shuffle_lst_element_randomly(lst))

['python', 'saurav', 3, 1, 2]

39. Create a list of the first 10 factorial numbers.

In [413]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [419]:
l1 = [1,2,3,4,5]
l2 = [4,5,6,7]
def does_have_common_element_in_lst():
    is_common_element = False
    for i in l1:
        for j in l2:
            if i==j:
                is_common_element = True
                break
        if is_common_element:
            break
    return is_common_element
print(does_have_common_element_in_lst())

True

41. Remove all elements from a list.

In [423]:
def remove_lst_elements(lst):
    lst.clear()
    return lst
lst = ["saurav",1,2,"python"]
print(f"after removeing all element from list {lst} is {remove_lst_elements(lst)}")

after removeing all element from list ['saurav', 1, 2, 'python'] is []

42. Replace negative numbers in a list with 0.

In [432]:
lst = [-1,2,-3]
def replace_negative_number_with_0():
    for i in range(len(lst)):
        if lst[i]<0:
            lst[i] = 0
    
    return lst
print(replace_negative_number_with_0())

[0, 2, 0]

43. Convert a string into a list of words.

In [436]:
def convert_str_into_lst_of_words():
    return input_str.split()
input_str = 'this is my first coding'
print(f'after converting string {input_str}into list of word is {convert_str_into_lst_of_words()}')

after converting string this is my first codinginto list of word is ['this', 'is', 'my', 'first', 'coding']

44. Convert a list of words into a string

In [439]:
def convert_lst_of_words_into_str():
    return ' '.join(lst)
lst = ['this', 'is', 'my', 'first', 'coding']
print(f'after converting a list of words {lst} into a string is:- {convert_lst_of_words_into_str()}')

after converting a list of words ['this', 'is', 'my', 'first', 'coding'] into a string is:- this is my first coding

45. Create a list of the first `n` powers of 2.

In [440]:
n = eval(input('enter number'))
def list_of_the_firs_n_powers_of_2():
    lst_of_powers_of_2 = []
    for i in range(n):
        lst_of_powers_of_2.append(2**i)
    return lst_of_powers_of_2
print('list of the first power of 2 is',list_of_the_firs_n_powers_of_2())

list of the first power of 2 is [1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [442]:
lst = ['saurav','intelligent','python','kiran']
def longest_str_in_str_lst():
    longest_str_word = ''
    max_length = 0
    for i in lst:
        if len(i)>max_length:
            max_length = len(i)
            longest_str_word = i
    return longest_str_word
print('longest word from the string is ',longest_str_in_str_lst())

longest word from the string is  intelligent

47. Find the shortest string in a list of strings

In [445]:
lst = ['saurav','pw','intelligent','python','p','kiran']
def shortest_str_in_str_lst():
    shortest_str_word = lst[0]
    min_length = len(lst[0])
    for i in lst:
        if len(i)< min_length:
            min_length = len(i)
            shortest_str_word = i
    return shortest_str_word
print(shortest_str_in_str_lst())

p

48. Create a list of the first `n` triangular numbers.

In [448]:
n = eval(input("enter the number"))
def lst_of_the_first_n_triangular_numbers():
    triangular_number_lst = []
    for i in range(1,n+1,1):
        T_n = i*(i+1)//2
        triangular_number_lst.append(T_n)
    return triangular_number_lst
print(f'list of first {n} triangular number is:-{lst_of_the_first_n_triangular_numbers()}')

list of first 7 triangular number is:-[1, 3, 6, 10, 15, 21, 28]

49. Check if a list contains another list as a subsequence.

In [455]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6]
def does_lst_contain_lst_as_subsequence(l1, l2):
    len1 = len(l1)
    len2 = len(l2)
    j = 0  
    
    for i in range(len1):
        if j < len2 and l1[i] == l2[j]:
            j += 1 
        
        if j == len2: 
            return True
    
    return False
                
print(does_lst_contain_lst_as_subsequence(l1,l2))

True

50. Swap two elements in a list by their indices.

In [459]:
lst = [1, 2, 3, 4, 5]


index1 = 1
index2 = 3

temp = lst[index1]
lst[index1] = lst[index2]
lst[index2] = temp

print("List after swapping elements:", lst)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [461]:
print(tuple(range(1,6)))

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [462]:
t = (1, 2, 3, 4, 5)
print(t[2])

3

3. Find the length of a tuple without using the `len()` function

In [465]:
t = (1,2,3,4,5)
def length_of_tuple():
    tuple_length = 0
    for i in t:
        tuple_length += 1
    return tuple_length
print(length_of_tuple())

5

4. Count the occurrences of an element in a tuple.

In [469]:
def count_occurrences_element_in_tuple():
    dicti ={}
    for i in t:
        if i in dicti:
            dicti[i] +=1
        else:
            dicti[i] = 1
    return dicti
print(count_occurrences_element_in_tuple())

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1}

5. Find the index of the first occurrence of an element in a tuple.

In [3]:
t = (1,2,3,45,5,2)
def index_of_first_occurrence_element_in_tuple(t):
    l = list(t)
    return l.index(45)
print(index_of_first_occurrence_element_in_tuple(t))

3

6. Check if an element exists in a tuple.

In [6]:
t = (1,2,3,45,5,2)
def does_element_exist_in_tuple():
    element_exist = False
    if n in t:
        element_exist = True
    else:
        element_exist = False
    return element_exist
n = eval(input('enter the num'))
print(does_element_exist_in_tuple())

True

7. Convert a tuple to a list.

In [7]:
t = (1,2,3,45,5,2)
def convert_tuple_to_lst():
    return list(tuple(t))
print(convert_tuple_to_lst())

[1, 2, 3, 45, 5, 2]

8. Convert a list to a tuple

In [8]:
l = [1,2,3,4,5]
def convert_lst_to_tuple():
    return tuple(l)
print(convert_lst_to_tuple())

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [9]:
t = (1,2,3)
n1,n2,n3 = t
print(n1,n2,n3)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [10]:
def tuple_of_even_num():
    lst = []
    for i in range(1,11):
        if i%2 == 0:
            lst.append(i)
    return tuple(lst)
print(tuple_of_even_num())

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [11]:
def tuple_of_odd_num():
    lst = []
    for i in range(1,11):
        if i%2 != 0:
            lst.append(i)
    return tuple(lst)
print(tuple_of_odd_num())

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [12]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)
def concatenate_two_tuples(t1,t2):
    return t1 + t2
print(concatenate_two_tuples(t1,t2))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

13. Repeat a tuple three times

In [13]:
t = (1,2,3)
def repeat_tuple_3_times(t):
    return t*3
print(repeat_tuple_3_times(t))

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [21]:
t = ()
def is_tuple_empty():
    if not t:
        return True
    else:
        return False
print(is_tuple_empty())

True

15. Create a nested tuple.

In [24]:
nested_tuple = ((1,2,3,4),('a','b','c','d'),(True,False))
print('nested tuple is',nested_tuple)

nested tuple is ((1, 2, 3, 4), ('a', 'b', 'c', 'd'), (True, False))

16. Access the first element of a nested tuple.

In [31]:
nt = ((1,2,3,4),('a','b','c','d'),(True,False))
print('first element of nested tuple is', nt[0])

first element of nested tuple is (1, 2, 3, 4)

17. Create a tuple with a single element.

In [32]:
t = (2,)
print(type(t))
print('single element tuple is', t)

<class 'tuple'>
single element tuple is (2,)

18. Compare two tuples.

In [39]:
t1 = (1,2,3,'saurav',3.4)
t2 = (4,5,6,'kumar',3+5j)
print(t1<t2)
print(t1>t2)
print(t1==t2)
print(t1 is t2)
print(t1!=t2)
print(t1<=t2)
print(t1>=t2)

True
False
False
False
True
True
False

19. Delete a tuple.

In [45]:
t = tuple(range(10))
del t

20. Slice a tuple.

In [52]:
t = (1,2,3,4,5,6)
print('sliced tuple is', t[0:3])

sliced tuple is (1, 2, 3)

21. Find the maximum value in a tuple.

In [54]:
t = (1,2,3,4,5,6)
def max_value_in_tuple():
    return max(t)
print('max value in tuple is',max_value_in_tuple())

max value in tuple is 6

In [56]:
t = (1,4,5,48,34)
def max_values_in_tuples():
    max_value =t[0]
    for value in t:
        if value > max_value:
           max_value = value 
    return max_value
print('max value in tuple is',max_values_in_tuples() )

max value in tuple is 48

22. Find the minimum value in a tuple.

In [58]:
t = (1,4,5,48,34)
def min_value_in_tuple():
    min_value = t[-1]
    for i in t:
        if i < min_value:
            min_value = i
    return min_value
print('minimum value in tuple is', min_value_in_tuple())

minimum value in tuple is 1

23. Convert a string to a tuple of characters

In [59]:
def convert_str_into_tuple():
    return tuple(input_str)
input_str = 'pw skills'
print('after converting string into tuple is' , convert_str_into_tuple())

after converting string into tuple is ('p', 'w', ' ', 's', 'k', 'i', 'l', 'l', 's')

24. Convert a tuple of characters to a string.

In [61]:
t =('p', 'w', ' ', 's', 'k', 'i', 'l', 'l', 's')
def convert_tuple_to_str():
    l = list(t)
    return ''.join(l)
print('after converting tuple into string is' ,convert_tuple_to_str())

after converting tuple into string is pw skills

25. Create a tuple from multiple data types.

In [64]:
mixed_tuple = (1, 2.5, 'Hello', [3, 4, 5], {'a': 1, 'b': 2}, (6, 7))
def create_tuple_from_multiple_Datatypes():
    return mixed_tuple
print('tuple from multiple datatype is' ,create_tuple_from_multiple_Datatypes())

tuple from multiple datatype is (1, 2.5, 'Hello', [3, 4, 5], {'a': 1, 'b': 2}, (6, 7))

26. Check if two tuples are identical.

In [65]:
t1 = (1,2,3)
t2 = (1,2,3)
def are_tuples_identical():
    return t1 == t2
print(are_tuples_identical())

True

27. Sort the elements of a tuple.

In [69]:
t = (1, 2,3,4,5,34,2,6,32)
def sort_elements_of_tuple():
    return tuple(sorted(t))
print('after sorting the element in tuple is' , sort_elements_of_tuple())

after sorting the element in tuple is (1, 2, 2, 3, 4, 5, 6, 32, 34)

28. Convert a tuple of integers to a tuple of strings.

In [75]:
t = (1, 2, 2, 3, 4, 5, 6, 32, 34)
def convert_int_tuple_to_str_tuple():
    lst = []
    for i in t:
        if type(i)== int:
            i = str(i)
            lst.append(i)
            
    return tuple(lst)
print('after converting tuple of integers into tuple of strings is ', convert_int_tuple_to_str_tuple())

after converting tuple of integers into tuple of strings is  ('1', '2', '2', '3', '4', '5', '6', '32', '34')

29. Convert a tuple of strings to a tuple of integers.

In [74]:
t = ('1', '2', '2', '3', '4', '5', '6', '32', '34')
def covert_str_tuple_to_int_tuple():
    lst = []
    for i in t:
        if type(i) == str:
            i = int(i)
            lst.append(i)
    return tuple(lst)
print('after converting tuple of strings to a tuple of integers is', covert_str_tuple_to_int_tuple())

after converting tuple of strings to a tuple of integers is (1, 2, 2, 3, 4, 5, 6, 32, 34)

30. Merge two tuples.

In [77]:
t1 = (1,2,3)
t2 = (4,5,6)
def merge_two_tuple():
    return t1+t2
print('after merging two tuple is ', merge_two_tuple())

after merging two tuple is  (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [78]:
t = ((1,2,3),('a','b','c'),(True,False))
def flatten_nested_tuple():
    lst = []
    for i in t:
       if type(i)==tuple:
          i = list(i)
          lst.extend(i)
    return(tuple(lst))
print('flatten a nested tuple is', flatten_nested_tuple())

flatten a nested tuple is (1, 2, 3, 'a', 'b', 'c', True, False)

32. Create a tuple of the first 5 prime numbers

In [87]:
def tuple_of_first_5_prime_number():
    lst = []
    for i in range(2,12):
        is_prime = True
        for j in range(2,i):
            if i%j == 0:
                is_prime = False
                break
        if is_prime:
            lst.append(i)
    return tuple(lst)
print('tuple of first 5 prime number is:', tuple_of_first_5_prime_number())

tuple of first 5 prime number is: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [90]:
t = (1,2,1)
def is_tuple_palindrome():
    return t == t[::-1]
print(is_tuple_palindrome())

True

34. Create a tuple of squares of numbers from 1 to 5.

In [91]:
def tuple_of_squares_of_numbers():
    lst =[]
    for i in range(1,6):
        lst.append(i**2)
    return tuple(lst)
print('a tuple of squares of numbers from 1 to 5 is ', tuple_of_squares_of_numbers())

a tuple of squares of numbers from 1 to 5 is  (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [92]:
def filter_out_even_number_from_tuple():
    lst = []
    for i in tuple(range(1,10)):
        if i%2!=0:
            lst.append(i)
    return tuple(lst)
print('after filtering out all even number from tuple is:',filter_out_even_number_from_tuple())

after filtering out all even number from tuple is: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [93]:
t = (1,2,3,4,5)
def multiply_tuple_element():
    lst = []
    for i in t:
        lst.append(i*2)
    return tuple(lst)
print('after multilying all elements in a tuple by 2 is:', multiply_tuple_element())

after multilying all elements in a tuple by 2 is: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [103]:
import random
def tuple_of_random_numbers(num_elements):
    random_numbers = tuple(random.randint(0,100)for _ in range(num_elements))
    return random_numbers
num_elements = eval(input('enter the number'))
print('tuple of random numbers is', tuple_of_random_numbers(num_elements))

tuple of random numbers is (6, 49, 50, 63, 88, 25, 53, 84, 37, 63)

38. Check if a tuple is sorted.

In [108]:
t1 = (1,2,3,4)
def is_tuple_sorted():
    return t1 == tuple(sorted(t1))
       
print(is_tuple_sorted())

True

39. Rotate a tuple to the left by `n` positions.

In [117]:
t = (1,2,3,4,5,6)
def rotate_a_tuple_to_the_left(t,n):
    n = n%len(t)
    rotated_tuple = t[-n:]+t[:-n]
    return rotated_tuple
n = eval(input('enter the num'))
print(rotate_a_tuple_to_the_left(t,n))

(5, 6, 1, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions.

In [118]:
t = (1,2,3,4,5,6)
def rotate_a_tuple_to_the_right(t,n):
    n = n % len(t)
    rotated_tuples =t[n:]+t[:n]
    return rotated_tuples
n = 2
print(rotate_a_tuple_to_the_right(t,n))

(3, 4, 5, 6, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [120]:
def tuple_of_fibonacci_numbers():
    num = 5
    n1, n2 = 1, 1  
    fibonacci_sequence = [n1, n2]  

    for _ in range(2, num):
      n3 = n1 + n2
      fibonacci_sequence.append(n3) 
      n1, n2 = n2, n3
    return tuple(fibonacci_sequence)


print("tuple of the first 5 fibonacci numbers is", tuple_of_fibonacci_numbers())

tuple of the first 5 fibonacci numbers is (1, 1, 2, 3, 5)

42. Create a tuple from user input

In [121]:
t = eval(input('enter tuple: '))
print(t)

(1, 2, 3, 4, 'saurav')

43. Swap two elements in a tuple.

In [124]:
t = (1, 2, 3, 4, 'saurav')
t = (t[1],t[0],t[2],t[3],t[4])
print(t)

(2, 1, 3, 4, 'saurav')

In [126]:
t = (1,2,3,4,"saurav")
i,j = 0,1
t_list = list(t)
for k in range(len(t_list)):
    if k == i:
        t_list[k] = t[j]
    elif k == j:
        t_list[j] = t[i]
print(tuple(t_list))

(2, 1, 3, 4, 'saurav')

44. Reverse the elements of a tuple.

In [129]:
t = (1,2,3,4,"saurav")
def reverse_the_tple_element():
    t1 = t[::-1]
    return t1
print('after reversing the element of tuple is: ', reverse_the_tple_element())

after reversing the element of tuple is:  ('saurav', 4, 3, 2, 1)

In [133]:
t = (1,2,3,4,"saurav")
lst = list(t)
reverse_lst = []
for i in range(len(lst)-1,-1,-1):
    reverse_lst.append(lst[i])
print(tuple(reverse_lst))

('saurav', 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [135]:
n = int(input('enter the num: '))
lst = []
for i in range(0,n):
    lst.append(2**i)
print(tuple(lst))

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [142]:
t = ('Krishna','name','is','saurav','kumar')
longest_Word = ''
for i in t:
    if len(i)> len(longest_Word):
        longest_Word = i

print(longest_Word, "is longest word in a tuple of string")

Krishna is longest word in a tuple of string

47. Find the shortest string in a tuple of strings.

In [143]:
t = ('Krishna','name','is','saurav','kumar')
shortest_str_word = t[0]
for i in t:
    if len(i)<len(shortest_str_word):
        shortest_str_word = i
print(shortest_str_word, 'is shortest string word')

is is shortest string word

48. Create a tuple of the first `n` triangular numbers.

In [145]:
n = eval(input('enter the num'))
lst = []
for num in range(1,n+1):
    T_n = num*(num+1)//2
    lst.append(T_n)
print(tuple(lst), 'is a tuple of first n triangular numbers')

(1, 3, 6, 10, 15) is a tuple of first n triangular numbers

49. Check if a tuple contains another tuple as a subsequence.

In [154]:
t = (1,2,3,4,5,6,7,8,9,10)
t1 = (1,4,8,10)
def does_tuple_contains_subsequence_tuple(t,t1):
    i,j=0,0
    for i in range(len(t)):
        if j< len(t1) and t[i]==t1[j]:
            j+=1
            if j == len(t1):
                return True
    return False
print(does_tuple_contains_subsequence_tuple(t,t1))

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [160]:
def alternating_tuple(n):
    lst = []
    for i in range(n):
        if i%2==0:
            lst.append(1)
        else:
            lst.append(0)
    return tuple(lst) 
n = int(input('enter the num: '))
print(alternating_tuple(n))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [162]:
s = eval(input("enter set"))
print(set(s))

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [163]:
s = {1, 2, 3, 4, 5}
s.add('krishna')
print(s)

{1, 2, 3, 4, 5, 'krishna'}

3. Remove an element from a set.

In [164]:
s = {1, 2, 3, 4, 5, 'krishna'}
s.remove(3)
print(s)

{1, 2, 4, 5, 'krishna'}

4. Check if an element exists in a set.

In [170]:
s = {1,2,3,4,'krishna'}
def does_element_exist_in_set():
    return input_element in s
input_element = eval(input('enter the element to check for existence:'))
print(does_element_exist_in_set())

True

5. Find the length of a set without using the `len()` function.

In [171]:
s = {1,2,3,4,'krishna'}
def length_of_set():
    set_length = 0
    for i in s:
        set_length += 1
    return set_length
print(length_of_set())

5

6. Clear all elements from a set.

In [172]:
s = {1,2,3,4,'krishna'}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [173]:
def set_of_even_number():
    s = set()
    for num in range(2,11):
        if num%2 == 0:
            s.add(num)
    return s

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [174]:
def set_of_odd_numbers():
    s = set()
    for num in range(1,10):
        if num%2 != 0:
            s.add(num)
    return s
print(set_of_odd_numbers())

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [176]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
def union_of_two_sets():
    return s1|s2
print(union_of_two_sets())

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [177]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8}
print(s1.intersection(s2))

{5, 6}

11. Find the difference between two sets.

In [178]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8}
print(s1.difference(s2))

{1, 2, 3, 4}

12. Check if a set is a subset of another set.

In [180]:
s1 = {1,2,3,4,5,6}
s2 = {5,6}
print(s2.issubset(s1))

True

13. Check if a set is a superset of another set

In [183]:
s1 = {1,2,3,4,5,6}
s2 = {5,6}
print(s1.issuperset(s2))

True

14. Create a set from a list.

In [185]:
lst = [1,2,3,4,5]
s = set()
for i in lst:
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [186]:
s = {1, 2, 3, 4, 5}
print(list(s))

[1, 2, 3, 4, 5]

16. Remove a random element from a set

In [190]:
import random 

my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

17. Pop an element from a set.

In [189]:
s ={1,2,3,4,5,6,7,8,9,10}
s.pop()

1

18. Check if two sets have no elements in common.

In [193]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,}
print(s1.isdisjoint(s2))

False

19. Find the symmetric difference between two sets.

In [194]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9}
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [204]:
s1 = {1,2,3}
s2 = {3,4,5}
uodate_set = s1.update(s2)
print('updated_set',s1)

updated_set {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [209]:
prime_set = set()
def first_5_prime_no():
    for i in range(2,n):
        is_prime = True
        for j in range(2,i):
            if i%j==0:
                is_prime = False
                break
        if is_prime:
            prime_set.add(i)
    return prime_set
n = int(input('enter the num:'))
print(first_5_prime_no())

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [8]:
s1 = {1,2,3}
s2 = {1,2,3}
print(s1==s2)

True

23. Create a frozen set.

In [10]:
frozen_set = frozenset({6, 7, 8, 9, 10})
print('frozen set is: ',frozen_set)

frozen set is:  frozenset({6, 7, 8, 9, 10})

24. Check if a set is disjoint with another set.

In [13]:
s1 = {1,2,3}
s2 = {4,5,6}
print(s1.isdisjoint(s2))

True

25. Create a set of squares of numbers from 1 to 5.

In [14]:
s = set()
for i in range(1,6):
    s.add(i**2)
print(s)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [16]:
s = {1,2,3,4,5,6,7,8,9,10}
for i in s:
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

27. Multiply all elements in a set by 2.

In [23]:
s ={1,2,3,4,5}
multiplied_set =set()
for i in s:
    multiplied_set.add(2*i)
print(multiplied_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [28]:
import random
random_set = set()
for i in range(10):
    random_set.add(random.randint(1,100))
print('a set of random number is', random_set)

a set of random number is {66, 36, 40, 10, 15, 49, 22, 91, 63}

29. Check if a set is empty.

In [31]:
s = set()
if not s:
     print('set is empty')
else:
     print('set is not empty')

set is empty

30. Create a nested set (hint: use frozenset).

In [38]:
f1 = frozenset(range(10))
print(f1)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [42]:
s ={1,2,3}
f1 = frozenset([1,2,3])
f2 = frozenset([4,5,6])
s.add(f1)
s.add(f2)
print(s)

{1, 2, 3, frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [46]:
s1 = {1, 2, 3, frozenset({1, 2, 3}), frozenset({4, 5, 6})}
s1.discard(frozenset({1,2,3}))
print(s1)

{1, 2, 3, frozenset({4, 5, 6})}

32. Compare two sets.

In [50]:
s1 ={1,2,3}
s2 ={4,5,6}
print(s1.issubset(s2))
print(s1.isdisjoint(s2))
print(s1.issuperset(s2))

False
True
False

33. Create a set from a string

In [52]:
s = 'saurav'
z = set('saurav')
print(z)

{'u', 'v', 'a', 'r', 's'}

34. Convert a set of strings to a set of integers

In [54]:
str_set = {'1','2','3','4'}
int_set = set()
for i in str_set:
    j = int(i)
    int_set.add(j)
print('a set of integer is',int_set)

a set of integer is {1, 2, 3, 4}

35. Convert a set of integers to a set of strings

In [55]:
int_set = {1, 2, 3, 4}
str_set = set()
for i in int_set:
    j = str(i)
    str_set.add(j)
print('a set of strings is',str_set)

a set of strings is {'3', '2', '1', '4'}

36. Create a set from a tuple

In [56]:
t = (1,2,'saurav',3.5)
s = set(t)
print(s)

{1, 2, 3.5, 'saurav'}

37. Convert a set to a tuple.

In [57]:
s = {1, 2, 3.5, 'saurav'}
t = tuple(s)
print(t)

(1, 2, 3.5, 'saurav')

38. Find the maximum value in a set

In [62]:
s ={1,23,4,5,67}
def max_value_in_set(s):
    max_value = 0
    for i in s:
       if i > max_value:
           max_value = i
    return max_value
print(max_value_in_set(s))

67

39. Find the minimum value in a set

In [63]:
s ={1,23,4,5,67}
def min_value_in_set(s):
    min_value = float('inf')
    for i in s:
        if i<min_value:
            min_value = i
    return min_value
print(min_value_in_set(s))

1

40. Create a set from user input.

In [64]:
user_input = input("Enter elements separated by space: ")
user_set = set(map(int, user_input.split()))

print("Created set:", user_set)

Created set: {1, 2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [66]:
s1 ={1,2,3,4}
s2 ={5,6,7,8}
print(s1.intersection(s2)== set())

True

42. Create a set of the first 5 Fibonacci numbers.

In [69]:
num = 5
n1,n2 = 1,1
fibonacci_sequence = {n1,n2}
for _ in range(2,num):
    n3 = n1+n2
    fibonacci_sequence.add(n3)
    n1,n2 = n2,n3
   
print('5 fibonacci numbers: ',fibonacci_sequence)

5 fibonacci numbers:  {1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [71]:
l = [1,2,3,'saur',4,5,'saur']
s = set()
for i in l:
    s.add(i)
print(list(s))

[1, 2, 3, 4, 5, 'saur']

44. Check if two sets have the same elements, regardless of their count

In [72]:
s1 = {1, 2, 2, 3, 3, 3}
s2 = {1, 2, 3}

if s1.issubset(s2) and s2.issubset(s1):
    print("Both sets have the same elements")
else:
    print("Sets do not have the same elements")

Both sets have the same elements

45. Create a set of the first `n` powers of 2.

In [73]:
n = int(input('enter the num: '))
s = set()
for i in range(n):
    s.add(2**i)
print(s)

{1, 2, 4, 8, 16}

In [77]:
l = [1,2,3, "saurav"]
s = {4,'saurav',5,6}
for i in l:
    if i in s:
        pass
print('common element in list and set is',i)

common element in list and set is saurav

47. Create a set of the first `n` triangular numbers

In [78]:
def set_first_n_triangular_num():
    triangular_num_set = set()
    for i in range(1,n+1):
        T_n = i*(i+1)//2
        triangular_num_set.add(T_n)
    return triangular_num_set
n = int(input("enter the num: "))
print(f'set of first {n} triangular number is {set_first_n_triangular_num()}')

set of first 5 triangular number is {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset

In [79]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}
print(s2.issubset(s1))

True

49. Create a set of alternating 1s and 0s of length `n`.

In [81]:
s =set()
for i in range(n):
    if i%2==0:
        s.add(1)
    else:
        s.add(0)
n = int(input("enter the num: "))
print(s)

{0, 1}

50. Merge multiple sets into one.

In [83]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print('merged set is',merged_set)

merged set is {1, 2, 3, 4, 5, 6, 7}